

.heading{
  font-family: 'Times New Roman', Times, serif;
  color: black;
  text-shadow: burlywood;
  box-shadow: 10px 10px 5px 0px rgb(20, 19, 19);
  width: 60%;
  height: 30vh;
  text-align: center;
  display: flex;
  align-items: center;
  margin: 10%;
  margin-left: 20%;
  font-size: 100px;
}

